<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="configuration_basename" default=""/>
  <arg name="open_rviz" default="true"/>

  <!-- TurtleBot3 -->
  <!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include> -->

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <group ns="robot1">
    <include file="$(find turtlebot3sim)/launch/carto_single_slam_robots.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="configuration_basename" value="turtlebot3_robot1.lua"/>
      <arg name="robot_name" default="robot1"/>
  </include>
  </group>

  <group ns="robot2">
    <include file="$(find turtlebot3sim)/launch/carto_single_slam_robots.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="configuration_basename" value="turtlebot3_robot2.lua"/>
      <arg name="robot_name" default="robot2"/>
  </include>
  </group>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz1" required="true"
          args="-d /home/nics/.rviz/default.rviz"/>
    <node pkg="rviz" type="rviz" name="rviz2" required="true"
          args="-d /home/nics/.rviz/default_robot2.rviz"/>
  </group>
</launch>
