<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="gemweightspath" default="/home/xuzhl/catkin_ws_d/src/dslam_release/script/ROS_GEM/weights/gem.pth" />

  <include file="$(find xtark_ros_wrapper)/launch/xtark_mapping_multi_sim_gem.launch">
    <arg name="robotname" value="robot1"/>
    <arg name="gemweightspath" value="$(arg gemweightspath)" />
  </include>

  <include file="$(find xtark_ros_wrapper)/launch/xtark_mapping_multi_sim_gem.launch">
    <arg name="robotname" value="robot2"/>
    <arg name="gemweightspath" value="$(arg gemweightspath)" />
  </include>
  
</launch>
