<launch>
  <param name="/use_sim_time" value="false" />
  <arg name="robotname" default="robot1"/>

  <group ns="$(arg robotname)">
    <include file="$(find xtark_ros_wrapper)/launch/xtark_bringup_robot1.launch" >
      <arg name="robotname" value="$(arg robotname)"/>
    </include>
    <include file="$(find xtark_ros_wrapper)/launch/xtark_mapping_cartographer_core.launch" >
      <arg name="robotname" value="$(arg robotname)"/>
    </include>
  </group>
  
</launch>
